@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/*
use only the available space inside the 400x400 frame
 */
body{
    margin: 0;
    width: 100vw;/*Taille totale de l'écran*/
    height: 100vh;
    color: white;
    font-family: 'Courier New', 'Courier', sans-serif;
    font-weight:bold;
}
.container{
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory; /*y = vertically, mandatory or proximity*/
    /*scroll horizontally
    * x=horizontal
    scroll-snap-type: x mandatory;
    * flex because by default it is row so il will be horizontal
    display: flex;*/
    overflow-y: scroll;

}
.container>section{
    /* scroll horizontally
    * remove the flex from the heritage and let the width and height as we specify
    flex: none;
     */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}
.challenge{
    border-radius: 3px;
    width: 400px;
    height: 400px;
}
.center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.dark{
    background-color: rgba(0,0,0,0.7);
}
.light{
    background-color: rgba(0,0,0,0.5);
}
/* --------------- CHALLENGE 1 --------------- */
#challenge1{
    background:linear-gradient(to top right, #43389F 0%, #4ec6ca 100%);
}
#challenge1>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}
#number{
    position:relative;
    height: 100px;
    width: 200px;
    display:flex;
}
#un{
    background:white;
    position:relative;
    z-index:1;
    transform:rotate(50deg);
    border-radius:3px;
    height:40px;
    width: 24px;
    left:3px;
    top:0;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}
#un-barre{
    background:white;
    position:relative;
    left:0;
    top:2px;
    z-index:3;
    border-radius:3px;
    height:95px;
    width: 27px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}
#zero-un,#zero-deux{
    border:22px solid white;
    position:relative;
    left:-3px;
    top:8px;
    z-index:2;
    border-radius:50%;
    height:50px;
    width: 50px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}
#zero-deux{
    z-index:1;
    left:-13px;
}
#days{
    height: 70px;
    width:200px;
    font-size:73px;
    letter-spacing: .04em;
}
#cssChallenge{
    font-size:23px;
}

/* --------------- CHALLENGE 2 --------------- */
#challenge2{
    background-color: darkslategrey;
}
#menu{
    width:80px;
    margin:auto;
    cursor: pointer;
}
.barre{
    background-color:#f2cc8f;
    width:80px;
    height:8px;
    border-radius:3px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.4);
    margin:12px auto ;

}
.no-animation{
    animation:none !important;
}
#one{
    z-index:1;

}
#two{
    z-index:0;

}
#three{
    z-index:2;

}
.animate-one{
    animation:line-one 1s cubic-bezier(0.3,1,0.70,1) forwards;
}
.animate-two{
    animation:line-two 1s cubic-bezier(0.3,1,0.70,1) forwards;
}
.animate-three{
    animation:line-three 1s cubic-bezier(0.3,1,0.70,1) forwards;
}
.animate-one-rev{
    animation:line-one-rev 2s cubic-bezier(0.3,1,0.70,1) forwards;
}
.animate-two-rev{
    animation:line-two-rev 2s cubic-bezier(0.3,1,0.70,1) forwards;
}
.animate-three-rev{
    animation:line-three-rev 2s cubic-bezier(0.3,1,0.70,1) forwards;
}
@keyframes line-one{
    0%{transform:translate(0%, 0%);}
    50%{transform:translate(0%, 250%) ;}
    100%{transform:translate(0%, 250%) rotate(45deg);}
}
@keyframes line-two{
    0%{
        transform:scale(1);
        opacity:1;
    }
    100%{
        transform:scale(0);
        opacity:0;
    }
}
@keyframes line-three{
    0%{transform:translate(0%, 0%);}
    50%{transform:translate(0%, -250%) ;}
    100%{transform:translate(0%, -250%) rotate(-45deg);}
}
@keyframes line-one-rev{
    0%{transform:translate(0%, 250%) rotate(-45deg);}
    50%{transform:translate(0%, 250%) ;}
    100%{transform:translate(0%, 0% ) ;}
}
@keyframes line-two-rev{
    0%{
        transform:scale(0);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}
@keyframes line-three-rev{
    0%{transform:translate(0%, -250%) rotate(45deg);}
    50%{transform:translate(0%, -250%) ;}
    100%{transform:translate(0%, 0%) ;}
}